@{
    PageData["title"] = "Rock Paper Scissors - About";
}

<h2>Description of the game</h2>
<p>This website will give you the possibility to play one of the most fun games in the world, the Rock Paper Scissors.</p>
<p>You can choose between 3 types of weapons: Rock, Paper or Scissors. Each one of them has a strength and a weakness. 
    To win all you have to do is to guess what the opponent will play and chosse the correct weapon.</p>
<p>If you have not played it yet or never heard of it and came to this website by mistake bellow you can find the rules.</p>

<h2> Who will win?</h2>
<p>In a battle if:<br />
    - Rock meets Scissors then the Rock will smash the Scissors and win<br/>
    - Paper meets Rock then the Paper will cover the Rock and win<br />
    - Scissors meets Paper then the Scissors will cut the Paper and win<br />
    </p>
<p>
    If the two figthers have the same type of weapons the game will be declared equal.
</p>
