@{
    PageData["title"] = "Rock Paper Scissors";
}
<h2> Rock Paper Scissors Advanced Game</h2>
<p>This is variation of Rock Paper Scissors clasic game for which you can find the rules here <a href="/about">about page</a>. We were thinking that if you thow a paper to Hulk which has a rock in hand most probably he will cruch you. That's why we wanted to create a more spicy game with the following rules:</p>
<p>
    - every player has strength between 5 and 10 <br />
    - every weapon has damage between 1 and 5<br />
    - the players strength multiplied by the weapon damage is the damage that can be done by the player
    - for examnple if a player with the rock in hand figths a player with paper in hand, the first one will have only 1/4 damage to the second since paper is natural enemy to rock
</p>
<br /> 
<p>In this game your name will be John Doe or insert a more specific name bellow.</p>
<label for="username" style="font-weight:400">Your name:</label>
<input type="text" id="username" name="username" ng-model="userName" />
<br /><br />
<div class="weaponsWrapper">
    <p>Choose your weapon wisely. From the bellow collection:</p>
    <input type="radio" id="rock" name="weapon" ng-model="weapon" value="rock">
    <label for="rock" class="weapon rock">
    </label>
    <input type="radio" id="paper" name="weapon" ng-model="weapon" value="paper">
    <label for="paper" class="weapon paper">
    </label>
    <input type="radio" id="scissors" name="weapon" ng-model="weapon" value="scissors">
    <label for="scissors" class="weapon scissors">
    </label>
    <div ng-if="result.enemyWeapon || isLoading" class="enemyCenter">
        <div class="vs"></div>
    </div>
    <div ng-if="isLoading">
        <div id="loader"></div>
    </div>
    <div ng-if="result.enemyWeapon" class="enemyCenter">
        <div ng-class="result.enemyWeapon" class="enemyWeapon"></div>
    </div>
    <div class="alert alert-danger" ng-if="error">
        <strong>{{error}}</strong>
    </div>
    <div class="alert alert-warning text-center" ng-if="result">
        <strong>{{result.battleResultMessage}}</strong>
    </div>
</div>
<div class="fightButton">
    <button type="button" class="btn btn-default" ng-click="fight()" ng-disabled="(!weapon || isLoading)">Fight the computer</button>
</div><br />