@{
    PageData["title"] = "Rock Paper Scissors - Login";
}
<form class="form-login" role="form">
    <h2 class="form-login-heading">Login</h2>
    <div class="row">
        <div class="col-lg-6">
            <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label>
                <input type="checkbox" data-ng-model="loginData.rememberMe"> <strong> Remember Me</strong>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-4">
        <h2 class="form-login-heading">Social Logins</h2>
        <p>Or you can login using one of the social logins bleow</p>
        <button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
    </div>
</div>