@{
    PageData["title"] = "Rock Paper Scissors - Login";
}
<form class="form-login" role="form">
    <h2 class="form-login-heading">Login</h2>
    <div class="row">
        <div class="col-lg-6">
            <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
        </div>
    </div>
  
</form>